.home {
    background-color: #17171F;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // background: linear-gradient(0deg,rgba(23,23,31, 0.3), rgba(23,23,31, 0.3), url(../../media/back1.jpg));
    background: url(../../media/back2.png) rgba(23,23,31, 0.95);
    background-blend-mode: multiply;
    background-size: cover;
}

.logo {
    
    img {
        width: 20%;
        margin: 0 auto;
    }
}

.header {
    font-size: 150%;
    font-family: 'Gilroy';
    color: white;
    width: 60%;
    margin: 0 auto;
}

.body {
    color: white;
    width: 60%;
    margin: 0 auto;
    font-size: 120%;
}

.waitlist {
    
    form { 
        display: flex;
    align-items: center;
    justify-content: center;
    }
  

    input {
        padding: 1rem;
        width: 20%;
        border-radius: 0.5em;
        background-color: white;
        color: black;
        border: none;
        outline: none;
    }

    button {
        margin: 0 2rem;
        padding: 1rem;
        border-radius: 0.5em;
        border: none;
        background-color:#c9184a;
        color: white;

        &:hover {
            background-color: #c9184a;
            border: 2px solid white;
            cursor: pointer;
        }
    }
}

footer {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-self: flex-end;
    margin-bottom: 0;

    p {
        color: white;
    }
}

.icons {
    color: white;
    padding: 0.5em;
    border-radius: 0.3em;
    margin: 1em 0.5em;
    background-color: #c9184a;
}

@media screen and (max-width: 420px) {
    .logo {
    
        img {
            width: 50%;
            margin: 0 auto;
        }
    }

    .header {
        font-size: 120%;
        font-family: 'Gilroy';
        color: white;
        width: 90%;
        margin: 0 auto;
    }

    .body {
        color: white;
        width: 90%;
        margin: 0 auto;
        font-size: 110%;
    }

    .waitlist {
    
        form { 
            display: flex;
            flex-direction: column;
        align-items: center;
        justify-content: center;
        }

        input {
            width: 70%;
            margin: 0.5rem 0;
            font-size: 100%;
        }
    }

    footer {
        flex-direction: column;
    }
}